version: '3'
services:
  nginx:
    image: nginx
    ports:
      - "3100:80"
    volumes:
      - ./nginx-config/:/etc/nginx/conf.d/
      - ./log/nginx/:/var/log/nginx/
    extra_hosts:
      - "host.docker.internal:host-gateway"

  loki:
    image: grafana/loki:latest
    hostname: loki
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./loki-config:/etc/loki
    restart: always

  promtail:
    image: grafana/promtail:latest
    volumes:
      - /var/log:/var/log
      - ./promtail-config:/etc/promtail
      - ./log/nginx/:/var/nginx-log/
    command: -config.file=/etc/promtail/promtail.yaml
    restart: always