server:
  http_listen_port: 9080
  grpc_listen_port: 9097

positions:
  filename: /tmp/positions.yaml

clients:
  - url: 'http://loki:3100/loki/api/v1/push'

scrape_configs:
  - job_name: system
    static_configs:
      - targets:
          - localhost
        labels:
          job: varlogs
          __path__: /var/log/*log
          host: grafana

  - job_name: nginx-promtail
    static_configs:
      - targets:
          - localhost
        labels:
          job: nginx-promtail
          __path__: /var/nginx-log/*log
          host: grafana