server {
    listen 80;

    server_name  _;

#     allow  192.168.176.1;
#     deny   all;

    resolver 127.0.0.11;

#     set $proxyurlne http://92.205.129.33:9100$request_uri;#Prometheus Node Exporter, если нужен - раскомментировать и нужно указать внешний IP сервера
    set $proxyurl http://loki:3100$request_uri;
    proxy_set_header Host $host;

    location /loki {
        proxy_pass  $proxyurl;
    }

#Prometheus Node Exporter, если нужен - раскомментировать и нужно указать внешний IP сервера
#     location / {
#         proxy_pass  $proxyurlne;
#     }

    charset UTF-8;

    access_log off;
    log_not_found off;
    error_log  /var/log/nginx/error.log error;
}